html{
	 -moz-background-size: cover;
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;
	}


body {
	background: linear-gradient(360deg,#6A82FB, #F29492);
	background-positon:
	font-family: sans-serif;
	font-weight: 400;
  text-align: center;
	height: 100%;
}

.container {
	position: static;
	top: 70%;
}




/* media queries */
@media screen and ( max-width: 750px ) {


    #newspapers {
        width: 100%;

    }
		#
}
